<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="fisher-crawford" routerLink="/workspaces/fornevercollective.github.io/projects/tree/hauteville-family-tabs/src/app/fisher-crawford">
      <ion-icon name="tree"></ion-icon>
      <ion-label>Fisher-Crawford</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="lepage-bandet" routerLink="/workspaces/fornevercollective.github.io/projects/tree/hauteville-family-tabs/src/app/lepage-bandet">
      <ion-icon name="radar"></ion-icon>
      <ion-label>Lepage-Bandet</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="family-tree">
      <ion-icon name="tree"></ion-icon>
      <ion-label>Family Tree</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="bar-chart">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Bar Chart</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-app>
