# ...existing dependencies...
flask @ git+https://github.com/pallets/flask.git
flatlib @ git+https://github.com/flatangle/flatlib.git
swisseph @ git+https://github.com/arturania/swisseph.git
# cspice @ git+https://github.com/arturania/cspice.git
# Note: The following dependencies are not Python packages and should be managed in the frontend package.json
# d3.js @ git+https://github.com/d3/d3.git
# chart.js @ git+https://github.com/chartjs/Chart.js.git
# astrologychart2 @ git+https://github.com/Kibo/AstrologyChart2.git
# astrochart @ git+https://github.com/afucher/AstroChartSVG.git
# react-scroll-parallax @ git+https://github.com/jscottsmith/react-scroll-parallax.git
