<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: 07B_Basic_Landscape (4.2)</string>
	<string>T5.2.1 (6733)</string>
	<string>G-r420-4C114</string>
	<string>G-r1120-11C171</string>
	<string>G-r1220-12C162</string>
</array>
</plist>
